*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
	font-family: "Century Gothic";
	src: url("../fonts/CenturyGothic.ttf") format("ttf")
}

@font-face {
	font-family: "Century Gothic Bold";
	src: url("../fonts/GOTHICB0.woff2") format("woff2")
}

@font-face {
	font-family: "Satoshi Regular";
	src: url("../fonts/Satoshi-Regular.woff2") format("woff2")
}

@font-face {
	font-family: "Satoshi Medium";
	src: url("../fonts/Satoshi-Medium.woff2") format("woff2")
}

@font-face {
	font-family: "Satoshi Bold";
	src: url("../fonts/Satoshi-Bold.woff2") format("woff2")
}

@font-face {
	font-family: "Satoshi Black";
	src: url("../fonts/Satoshi-Black.woff2") format("woff2")
}


/*********************/
/* CUSTOM PROPERTIES */
/*********************/

:root {
    --main-color: white;
    --main-color2: #4D4D4D;
    --main-color3: #89A575;
    --ctabtn-clr: white;
    --btn-bg: white;
    --home-h2: white;
    --section-h2: #89A575;
    --section-clr: rgba(255,255,255,0.8);
    --section-p: #4d4d4d;
    --box-shadow: #4d4d4d;
    --btn-clr: white;
    --btn-clr2: #89A575;
    --eye-clr: #89A575;
    --bg: url(../images/bg-portfolio.svg);
    --bg2: url(../images/bg2.svg);

    --main-font:  "Satoshi Regular", "Century Gothic", "Roboto", "sans-serif";
    --kopjes-font: "Satoshi Black", "fantasy", "sans-serif";
    --kopjes-font-h2: "Satoshi Bold", "Century Gothic Bold", "sans-serif";
    --links-font: "Satoshi Medium", "Century Gothic", "Roboto", "sans-serif";
}

.dark-mode {
    --main-color: black;
    --main-color2: rgba(255, 255, 255, 0.6);
    --main-color3: #403c68;
    --ctabtn-clr: rgba(255, 255, 255, 0.3);
    --btn-bg: rgba(47, 47, 47, 0.8);
    --home-h2: rgba(255, 255, 255, 0.6);
    --section-h2: #93b7a5;
    --section-clr: rgba(25, 25, 25, 0.8);
    --section-p: white;
    --box-shadow: black;
    --btn-clr: white;
    --btn-clr2: white;
    --eye-clr: #5f9479;
    --bg: url(../images/bg-darkmode.svg);
    --bg2: url(../images/bg2-dark.svg);
}

/* @media (prefers-color-scheme: dark) {
    :root {
        --main-color: white;
        --main-color2: #4D4D4D;
        --accent-color: #89A575;
        --selection-color: 
    }
} */


/*********************/
/*  General Styling  */
/*********************/

body {
    font-family: var(--main-font);
    color: var(--section-p);
    overflow-x: hidden;
    overflow-y: hidden;
    min-height: 100vh;
}

#bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: var(--bg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    transition: 2s;
    z-index: -1;
}

#bg2 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: var(--bg2);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    transition: 2s;
    z-index: -1;
}

.background-header {
    background-color: white;
}

.zoom-in {
    transform: translateY(150px) scale(2.3);
}

h1 {
    font-family: var(--kopjes-font);
    z-index: 11;
    color: var(--main-color2);
}

h2 {
    font-family: var(--kopjes-font-h2);
}

img {
    max-width: 100%;
}

button {
    cursor: pointer;
    background-color: transparent;
    border-radius: 50px;
    width: fit-content;
    height: fit-content;
    padding: 1.2em;
    text-transform: uppercase;
    font-family: var(--kopjes-font);
    border: none;
    box-shadow: 2px 2px 2px var(--box-shadow);
}

.bolder {
    font-family: "Satoshi Bold", "Futura", "sans-serif";
    color:var(--main-color3);
}



/********************/
/*   Landing page   */
/********************/


header nav ul {
    list-style: none;
    display: flex;
    justify-content: end;
    gap: 3em;
    padding-right: 3.2em;
    padding-top: 1.8em;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
}

@media (max-width: 1150px) {
    header nav {
        background-color: var(--main-color);
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 11;
        transform: translateX(100%);
    }

    header nav ul {
        flex-direction: column;
        margin-top: 1em;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 20em;
        align-items: center;
        gap: 4em;
    }

    header nav ul li a {
        font-size: 1.5rem;
    }
}

nav.toonMenu {
	transform: translateX(0);
    transition: .7s;
}

header nav li a {
    text-decoration: none;
    font-family: var(--links-font);
    font-size: 1.2rem;
    color: var(--main-color2);
    transition: .3s;
    display: inline-block;
}

header nav li a:hover,
header nav li a:focus-visible {
   /* color: #7a9a6a; */
   transform: scale(120%);
   transition: .3s;
}

header nav li a:focus-visible {
    border-bottom: .12em solid var(--main-color2);
}

header nav li a:focus {
    outline: none;
}

.be-gone {
   transform: translateY(-100px);
   transition: .5s;
}

li.nav-animation .underline {
    width: 0%;
    height: 0.12em;
    background-color: transparent;
    transition: width 0.7s;
    margin: 0 auto;
    margin-top: .2em;
}

li.nav-animation:hover .underline {
    width: 60%;
    background-color: var(--main-color2);
    border-radius: 2em;
}

#hamburger {
    position: absolute;
	right: 3em;
	top: 2em;
    background-color: transparent;
    border-radius: 0;
    width:auto;
    height: auto;
    padding: 0;
    box-shadow: none;
    display: none;
    z-index: 12;
}

@media (max-width: 1150px) {
    #hamburger {
        display: block;
    }
}

.line {
	background-color: var(--main-color2);
	display: block;
	height: 3px;
	width: 30px;
	margin: 5px 0;
	border-radius: 10px;
	transition: all 0.1s ease-in;
}

header button.open .line:nth-child(1) {
	transform: translateY(7px) rotate(45deg);
}

header button.open .line:nth-child(2) {
	opacity: 0;
}

header button.open .line:nth-child(3) {
	transform: translateY(-9px) rotate(-45deg);
}

#logo {
    width: 2.5em;
    height: 2.5em;
    position: absolute;
    left: 2.5em;
    top: 1em;
    transition: .3s;
    cursor: pointer;
    border: 4px solid transparent;
    background-color: rgb(255, 255, 255, 0);
    border-radius: 50px;
}

#logo:hover {
    transform: scale(2.1) translateY(.9em) translateX(.3em);
    transition: .3s;
    background-color: rgb(255, 255, 255, .7);
}

#dark-mode-toggle {
    background-color: var(--main-color3);
    width: 5em;
    height: 2em;
    position: absolute;
    top: 1.5em;
    left: 8em;
}

@media (max-width: 500px) {
    #dark-mode-toggle {
        display: none;
        z-index: 14;
    }
}

#toggle {
    position: absolute;
    top: .5em;
    left: .5em;
    background-color: white;
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    transition: .5s;
}

#sun, #sunset {
    width: 1.4em;
    position: absolute;
}

#sun {
    top: .6em;
    right: .7em;
}

#sunset {
    top: .7em;
    left: .7em;
    display: none;
}

.toggle {
    transform: translateX(2.5em);
    transition: .5s;
}

h1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 1.5em;
    font-size: 1.2rem;
}

#h2-wrapper {
    /* min-height: 91vh;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content:flex-end;
    padding: 2.5em; */
    position: absolute;
    top: 35em;
    left: 2.5em;
    color: var(--home-h2);
    min-width: 280px;
    max-width: 350px;
    font-family: var(--kopjes-font);
    transition: 1s;
}

#h2-wrapper h2:nth-of-type(2) {
    font-family: var(--main-font);
    font-weight: 300;
    line-height: 1.5em;
}

#cta-btn {
   position: absolute;
   top: 76%;
   left: 50%;
   transform: translateX(-50%);
   transition: 1.5s ease;
   /* filter: url(#liquid); */
   border: none;
   color: #4d4d4d;
   background-color: var(--ctabtn-clr);
   background-image: url("../images/ripple.svg");
   background-repeat: repeat-x;
   background-position: 0 500px;
   animation: opvallen 1.3s ease;
   animation-iteration-count: 2;
   z-index: 10;
}

@keyframes opvallen {
    0% {
        font-size: .85rem;
    }

    50% {
        font-size: 1.1rem;
    }

    100% {
        font-size: .85rem;
    }
}


#cta-btn:hover,
#cta-btn:focus-visible { 
    /* background-position: center; */
    color: var(--main-color2);
    font-size: 1.05rem;
    transition: 1s ease;
}

#cta-btn:active {
    /* background-color: #DFE7F4; */
    transition: .1s;
    font-size: .8rem;
}

/* svg {
    display: none;
} */
/* 
#cta-btn:hover,
#cta-btn:focus-visible { */
    /* background-color: black; */
    /* color: white;
    transition: .7s;
    font-size: 1.05rem;
} */

#cta-btn:focus {
    outline: none;
}

#clouds { 
    position: absolute;
    top: 13em;
    left: 6.5em;
    animation: upDown 4s infinite cubic-bezier(.32,.15,.84,.75);
    transition: .3s;
}

@keyframes upDown {
    0% {
        transform: translateY(0%);
    }

    50% {
        transform: translateY(5%);
    }

    100% {
        transform: translateY(0%);
    }
}

#moi {
    width: 13.5em;
    position: absolute;
    left: 42%;
    top: 34%;
    transition: .5s;
    cursor: pointer;
}

@media (min-width: 1350px) {
    #clouds {
        width: 1200px;
        transition: .3s;
    }
}

#moi:hover {
    transform: translateY(-20%);
    transition: .5s;
}

@media (max-width: 1200px) { /*Misschien toch maar geen los plaatje doen..?*/
    #moi {
        left: 43%;
        transition: .2s;
    }

    #clouds {
        width: 1300px;
        right: 18em;
        transition: .3s;
    }
}

@media (max-width: 1050px) {
    #moi {
        left: 40%;
        transition: .2s;
    }

    #clouds {
        right: 15em;
        transition: .3s;
    }
}

@media (max-width: 900px) {
    #moi {
        left: 38%;
        transition: .2s;
    }

    #clouds {
        right: 20em;
        transition: .3s;
    }
}

@media (max-width: 800px) {
    #moi {
        left: 36%;
        transition: .2s;
    }
}

@media (max-width: 700px) {
    #moi {
        left: 34%;
        transition: .2s;
    }
}

@media (max-width: 600px) {
    #moi {
        left: 31%;
        transition: .2s;
    }
}

@media (max-width: 500px) {
    #moi {
        left: 30%;
        transition: .2s;
    }
}

@media (max-width: 400px) {
    #moi {
        left: 24%;
        transition: .2s;
    }
}

.eyes {
    transition: 1s;
}

.eye {
    width: 6.5em;
    height: 6.5em;
    background-color: var(--home-h2);
    display: inline-block;
    transform: rotate(45deg);
    border-radius: 95% 0;
    box-shadow: .5px .5px 4px var(--box-shadow);
    overflow: hidden;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ball-wrapper {
    width: 9.2em;
    height: 4.2em;
    position: relative;
    transform: rotate(-45deg);
    border-radius: 95% 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.eye:first-child {
    left: 15.3em;
    top: 2.7em;
}

.eye:nth-child(2) {
    left: 47em;
    top: 6.7em;
}

.eye:nth-child(3) {
    left: 75.7em;
    top: 21.5em;
}

.eye:nth-child(4) {
    left: 71.3em;
    top: 33.1em;
}

.eye:nth-child(5) {
    left: 22em;
    top: 30.6em;
}

.eye:nth-child(6) {
    left: 26em;
    top: 18em;
}

.ball {
    width: 3.3em;
    height: 3.3em;
    background: radial-gradient(black 40%, var(--eye-clr) 30%);
    position: absolute;
    border-radius: 50%;
    overflow: hidden;
}

.ball::after {
    content: "";
    position: absolute;
    top: .2em;
    right: .4em;
    width: 1.2em;
    height: 1.2em;
    background-color: white;
    border-radius: 50%;
}

@media (max-width: 500px) {
    #clouds {
        display: none;
    }

    .eye:nth-child(2),
    .eye:nth-child(3),
    .eye:nth-child(4),
    .eye:nth-child(5),
    .eye:nth-child(6) {
        display: none;
    }

    .eye:first-child {
        top: 5em;
        left: 9.5em;
    }
}

/**************/
/*   About   */
/*************/

main {
    display: none;
    transition: 1s;
    margin-top: 5em;
    overflow-y: scroll;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#main-about {
    margin-top: 3.5em;
    overflow-y: scroll;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.verschijnen {
    opacity: 100%;
    transition: 1.3s;
    transition-delay: 1s;
    z-index: 12;
}

#about-section {
    background-color: var(--section-clr);
    width: 60%;
    min-height: 400px;
    height: fit-content;
    margin-inline: auto;
    border-radius: 2em;
    box-shadow: 3px 3px 5px var(--box-shadow);
    padding-left: 5em;
    padding-right: 5em;
    padding-top: 3em;
    padding-bottom: 3em;
    margin-top: 2em;

    display: flex;
    flex-direction: row;
    gap: 3em;
    
    transition: .3s ease;
}

.wider {
    width: 85% !important;
    transition: .3s ease;
}

#about-flex {
    display: flex;
    flex-direction: column;
    min-width: 0;
}

#about-section p {
    min-width: 15em;
    max-width: 22em;
    line-height: 1.5em;
    font-size: 1.2rem;
    margin-top: 1em;
}

#about-section h2:first-of-type {
    font-size: 2.15rem;
}

#about-section h2:nth-of-type(2) {
    color: var(--section-h2);
}

#about-section h3 {
    font-family: var(--kopjes-font-h2);
    color: var(--section-h2);
}

#btn-flex {
    display: flex;
    gap: 2em;
    margin-top: 3em;
    margin-bottom: 1em;
    align-items: center;
}

#about-section a {
    border-radius: 50px;
    width: fit-content;
    height: fit-content;
    padding: 1em;
    text-transform: uppercase;
    font-family: var(--kopjes-font);
    border: none;
    text-decoration: none;
    box-shadow: 2px 2px 2px var(--box-shadow);
}

#about-section a:first-of-type {
    background-color: var(--section-h2);
    color: var(--btn-clr);
    transition: .3s;
}

#about-section a:nth-of-type(2){
    background-color: var(--btn-bg);
    color: var(--btn-clr2);
    white-space: nowrap;
}

#about-section a:hover,
#about-section a:focus-visible {
    transform: scale(1.2);
    transition: .3s;
}

#about-section a:focus {
    outline: none;
}

#naam {
    color: var(--main-color3);
    font-size: 4rem;
    margin-top: -.2em;
}

#ik {
    position: absolute;
    right: 7em;
    width: 350px;
    height: 650px;
    transition: .8s;
    z-index: 11;
}

#ik:hover {
    transform: rotate(2deg);
}

.ik-animation {
    animation: flip 1s ease;
    animation-delay: 1s;
}

@keyframes flip {
    0% {
        top: 1000px;
    }

    100% {
        top: 80px;
    }
}

#skills-diagram {
    max-height: 320px;
    width: 320px;
    z-index: 9;
    cursor: pointer;
}

#skills-section {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
}

#info-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;
}

#back {
    border: none;
    background: none;
    box-shadow: none;
    padding: none;
    opacity: 0%;
    position: absolute;
    color: var(--section-p);
    top: 60px;
    left: 110px;
}

#visual-info,
#coding-info,
#ux-info,
#visual-info-dark,
#coding-info-dark,
#ux-info-dark {
    max-height: 300px;
    width: 300px;
    min-width: 250px;
    display: none;
}

@keyframes reveal {
    0% {
        opacity: 0%;
        z-index: 10;
    }

    30% {
        opacity: 100%;
        z-index: 10;
    }

    80% {
        opacity: 100%;
        z-index: 10;
    }

    100% {
        opacity: 0%;
        z-index: 0;
    }
}


@media (max-width: 1300px) {
    #about-section {
        width: 65%;
    }

    #about-flex {
        flex-direction: column;
    }
}

@media (max-width: 1200px) {
    #about-section {
        flex-direction: column;
        width: 60%;
        gap: 1em;
    }

    #about-h2 {
        display: flex;
        gap: 1em;
        align-items: center;
    }
}

@media (max-width: 1100px) {
    #about-section {
        width: 75%;
    }
}

@media (max-width: 1000px) {
    #about-section {
        width: 85%;
    }

    #ik {
        right: 0em;
    }
}

@media (max-width: 800px) {
    #ik {
        right: 0em;
        top: 16em;
        transform: scale(.65);
    }
}

@media (max-width: 710px) {
    #ik {
        right: 0em;
        top: 42em;
        transform: scale(.65);
    }
}

@media (max-width: 650px) {
    #ik {
        display: none;
    }
}

@media (max-width: 620px) {
    #about-h2 {
       flex-direction: column;
       align-items: flex-start;
       font-size: 1rem;
       min-width: 0;
    }

    #about-content {
        transform: scale(.9);
    }

    #back {
        left: 60px;
    }

}

@media (max-width: 500px) {
    #btn-flex {
        flex-direction: column;
    }

    #about-section a {
        min-width: 200px;
        text-align: center;
    }
}

@media (max-width: 400px) {
    #about-content {
        min-width: 180px;
        margin-left: -3em;
    }

    #skills-diagram {
        transform: scale(1.3);
    }
}

/*************/
/* Projecten */
/*************/

#project-section {
    overflow-y: scroll;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
/*
    background-color: var(--section-clr);
    width: calc(100% - 100px);
    margin-inline: auto;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    box-shadow: 3px 3px 5px var(--box-shadow);
    padding-top: 2em;
    padding-bottom: 4em;
*/
    margin-top: 5.3em;
    transition: .2s;
}

#project-section h2 {
    color: #4D4D4D;
    font-size: 2rem;
    position: absolute;
    right: 100px;
    top: 12.5em;
    z-index: 15;
}

#titel-wolk {
    position: absolute;
    right: 0;
    top: 20em;
    width: 23em;
    height: 13em;
}

#project-section ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2.5em;
    list-style: none;
    width: 90%;
    margin-inline: left;
    margin-top: 1em;
    /* animation: omhoog 1.5s ease; */
}

@media(max-width: 980px) {
    #project-section ul {
        width: 100%;
        margin-top: 7em;
    }

    #titel-wolk {
        top: -2.8em;
        right: -1em;
        transform: scale(.9);
    }

    #project-section h2 {
        top: 1em;
        transform: scale(.9);
    } 
}

@keyframes omhoog {
    0% {
        transform: translateY(40%);
    }

    100% {
        transform: translateY(0%);
    }
}

#project-section ul li {
    cursor: pointer;
    transition: .3s;
}

.project-cloud {
    /* position: absolute; */
    width: 300px;
    object-fit: contain;
    animation: upDown 4s infinite cubic-bezier(.32,.15,.84,.75);
}

#project-section ul li:focus {
    outline: none;
}

#project-section ul li:focus-visible,
#project-section ul li:hover {
    transform: scale(1.1);
}

#rmdd {
    top: 17em;
    left: 10em;
}




/**************/
/* Case study */
/**************/


#titel-terugknop {
    display: flex;
    align-items: center;
    gap: 3em;
}

#main-casestudy h2 {
    font-size: 2rem;
}

.terug-knop {
    text-decoration: none;
    font-family: var(--links-font);
    font-size: 1.2rem;
    opacity: 80%;
    color: var(--main-color2);
}





/***********/
/* Contact */
/***********/

#main-contact {
    background-color: var(--section-clr);
    width: 41%;
    height: fit-content;
    margin-inline: auto;
    border-radius: 2em;
    box-shadow: 3px 3px 5px var(--box-shadow);
    padding-left: 5em;
    padding-right: 5em;
    padding-top: 2em;
    padding-bottom: 3em;
    margin-top: 10em;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
}

#contact-h2 {
    display: flex;
    gap: .75em;
    align-self: flex-start;
}

#main-contact h2 {
    order: 1;
}


#main-contact p {
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: left;
}

form input {
    font-family: var(--kopjes-font-h2);
    font-size: 1.2rem;
    color: var(--section-p);
    background-color: var(--main-color);
    border: none;
    border-radius: 20px;
    padding: 1em;
    margin-bottom: 2em;
    margin-right: .5em;
    margin-top: 1em;
}

form button {
    background-color: var(--section-h2);
    color: white;
}

#cv-link {
    background-color: var(--btn-bg);
    border-radius: 50px;
    width: fit-content;
    height: fit-content;
    padding: 1em;
    text-transform: uppercase;
    font-family: var(--kopjes-font);
    border: none;
    text-decoration: none;
    box-shadow: 2px 2px 2px var(--box-shadow);
    color: var(--section-h2);
    display: flex;
    align-items: center;
    gap: 1em;
}

#main-contact img {
    width: 30px;
}

@media(max-width: 1350px) {
    #main-contact {
        width: 47%;
    }
}

@media(max-width: 1250px) {
    #main-contact {
        width: 52%;
    }
}

@media(max-width: 1050px) {
    #main-contact {
        width: 57%;
    }
}

@media(max-width: 950px) {
    #main-contact {
        width: 67%;
    }
}

@media(max-width: 810px) {
    #main-contact {
        width: 75%;
    }
}

@media(max-width: 720px) {
    #main-contact {
        width: 82%;
    }
}

@media(max-width: 670px) {
    #main-contact {
        width: 90%;
    }
}

@media(max-width: 600px) {
    #main-contact {
        width: 95%;
    }

    #contact-btn-flex {
        display: column;
        align-items: flex-start;
    }

    #btn-txt {
        margin-bottom: 2em;
        margin-top: -1em;
    }
}

@media(max-width: 500px) {
    #btn-txt {
        width: 80%;
        font-size: 1rem;
        padding: 1em;
    }
}

@media(max-width: 400px) {
    #btn-txt {
        width: 100%;
    }
}